.DS_Store
**/.DS_Store
node_modules/
tmp/
.superpowers/
docs/*
!docs/index.html
!docs/.nojekyll
!docs/assets/
!docs/assets/**
!docs/MMM2027/
!docs/MMM2027/**
!docs/PKUcourse/
!docs/PKUcourse/**
!docs/LSGI2801.pdf
!docs/LSGI2801_Assignment.pdf
code.py
cv.pdf
me.JPG
sample.jpg
image.png
hk_ev_spatial_distribution.html.pdf
sg_ev_spatial_distribution_real.html.pdf
